.contacts {
  padding: 120px 0 90px 0;

  @media (max-width: $desktop) {
    padding-top: 80px;
  }

  @media (max-width: $tablet) {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 400px 585px;
  justify-content: space-between;
  padding: 0 35px 0 50px;

  @media (max-width: $desktop-L) {
    grid-template-columns: 400px 400px;
  }

  @media (max-width: $desktop) {
    grid-template-columns: min-content 1fr;
    padding: 0;
    gap: 0 20px;
  }

  @media (max-width: $tablet) {
    grid-template-columns: 1fr;
  }
}

.contacts__photo {
  img {
    width: 100%;
    object-fit: cover;

    @media (max-width: $desktop) {
      width: 300px;
      height: 400px;
    }
  }

  @media (max-width: $tablet) {
    display: none;
  }
}

.contacts__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin-top: 20px;
}

.contacts__social {
  display: flex;
  margin-top: 20px;
}

.contacts__social-link {
  margin-right: 25px;
  max-width: 30px;
  max-height: 30px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.contacts__social-icon {
  width: 100%;
}

.contacts__form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin-top: 20px;
}

.contacts__form {
  margin-top: 30px;
  display: grid;
  grid-template: 45px 190px 45px / repeat(2, 280px);
  justify-content: space-between;
  row-gap: 30px;

  div {
    position: relative;
  }

  label {
    position: absolute;
    font-size: 12px;
    line-height: 18px;
    padding: 0 8px;
    top: -8px;
    left: 12px;
    background-color: #ffffff;
  }

  @media (max-width: $desktop-L) {
    grid-template: 45px 190px 45px / repeat(2, 195px);
  }

  @media (max-width: $tablet) {
    grid-template: auto / 1fr;
  }
}

.contacts__input {
  input {
    width: 100%;
    height: 45px;
    padding: 14px 20px 13px 20px;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
  }
}

.contacts__textarea {
  grid-column: 1 / -1;

  textarea {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 14px 20px 13px 20px;
    font-size: 12px;
    line-height: 18px;
  }
}

.contacts__triggers {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;

  @media (max-width: $tablet) {
    flex-direction: column;
    align-items: center;
  }
}

.contacts__policy {
  margin-left: 35px;
  display: flex;
  align-items: center;

  @media (max-width: $desktop-L) {
    margin-left: 15px;
  }

  @media (max-width: $tablet) {
    order: 1;
    margin: 0;
  }
}

.contacts__policy-text {
  font-size: 12px;
  line-height: 18px;
  margin-left: 10px;
}

.contacts__policy-link {
  text-decoration: none;
}

.contacts__btn {
  width: fit-content;
  border: none;
  cursor: pointer;

  @media (max-width: $desktop-L) {
    min-width: 210px;
  }

  @media (max-width: $tablet) {
    order: 2;
    margin-top: 20px;
  }
}
