.portfolio {
  padding-top: 120px;
}

.portfolio__list {
  display: grid;
  grid-template: repeat(2, 280px) / repeat(4, 280px);
  grid-auto-rows: 280px;
  gap: 5px;
  list-style: none;
  margin-top: 60px;
}

.portfolio__item {
  &--vertical {
    grid-row: 1 / 3;
    grid-column: 4 / 5;
  }

  &--horizontal {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
  }
}

.portfolio__img {
  transition: 0.5s ease-in-out;

  &:hover {
    filter: blur(3px);
  }
}
