.skills {
  padding-top: 120px;

  @media (max-width: $desktop) {
    padding-top: 80px;
  }

  @media (max-width: $tablet) {
    padding-top: 40px;
  }
}

.skills__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  grid-template-rows: auto;
  gap: 13px 13px;
  justify-content: center;
  margin-top: 60px;
  padding: 0 10px;
  list-style: none;
}

.skills__item {
  width: 150px;
  height: 150px;
  padding: 20px;
  box-shadow: 0 0 15px 0 rgba(34, 60, 80, 0.25);
}

.skills__item-img {
  height: 65px;
  display: flex;
  justify-content: center;

  img {
    max-width: 100%;
    object-fit: contain;
    align-self: center;
  }
}

.skills__item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin-top: 20px;
  text-align: center;
}

.skills__item-descr {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  margin-top: 15px;
}
