.title-group {
  display: flex;
  flex-direction: column;

  .subtitle {
    margin-top: 6px;

    @media (max-width: $tablet) {
      margin-top: 26px;
    }
  }

  .divider {
    width: 60px;
    height: 3px;
    background-color: $main-color;
    margin-top: 1px;

    @media (max-width: $tablet) {
      margin-top: 15px;
    }
  }
}

.title-group--center {
  align-items: center;

  .title {
    padding-left: 0;

    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .subtitle {
    text-align: center;
  }

  .divider {
    margin-top: 25px;

    @media (max-width: $tablet) {
      margin-top: 15px;
    }
  }
}
