@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

// Global
@import "global/variables.scss";
@import "global/mixins.scss";

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1140px;
  margin: 0 auto;

  @media (max-width: $desktop-L) {
    width: 920px;
  }

  @media (max-width: $desktop) {
    width: 728px;
  }

  @media (max-width: $tablet) {
    width: 100%;
    padding: 0 10px;
  }
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Blocks
@import "blocks/title.scss";
@import "blocks/promo.scss";
@import "blocks/btn.scss";
@import "blocks/sidepanel.scss";
@import "blocks/menu.scss";
@import "blocks/title-group.scss";
@import "blocks/about.scss";
@import "blocks/experience.scss";
@import "blocks/skills.scss";
@import "blocks/metrics-list.scss";
@import "blocks/portfolio.scss";
@import "blocks/price-list.scss";
@import "blocks/contacts.scss";
